/* AboutMe.css */
.section-title {
    font-size: 1.5rem;
    padding-bottom: 1rem;
    background-color: black;
    color: #FFFFFF;
    padding: 20px;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
  }
  
  .bio {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
    
  }

  /* AboutMe */
  .bio-container {
    padding: 20px;
    background-color: black;
    color: #FFFFFF;
    
  }
  
  /* Portfolio.css */
  .project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black; /* Light gray background */
    padding: 1rem;
    
  }
  
  /* Contact.css */
  .contact {
    background-color: black;
    color: #FFFFFF;
    padding-bottom: 2em;
    
  }

  .contact h2 {
    padding-bottom: 1em;
    padding-top: 1em;
    font-size: 1.5rem;
    padding-left: 20px;
  }

  .contact p {
    margin-bottom: 2em;
    margin-top: 2em;
  }

  .contact-container {
    background-color: black;
    color: #FFFFFF;
    padding-bottom: 2em;
    padding-left: 20px;
  }
  
  /* Resume.css */
  .resume-container {
    background-color: black;
    color: #FFFFFF;
    
  }

  .portfolio-container {
    display: flex;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Each item is at least 200px wide */
    grid-gap: 1rem; /* Gap between grid items */
    background-color: black;
    padding: 1rem;
    text-align: center;
    flex-direction: column;
  }
  
  /* Style for individual project items */
  .project {
    background-color: black;
    padding: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    flex: 1;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease;
    margin-bottom: 6.375rem;
  }
  
  .project img {
    max-width: 100%;
    max-height: 150px;
    object-fit: cover; /* Maintain aspect ratio and cover container */
    margin-bottom: 2rem;
  }
  
  .project h3 {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
    color: #007bff; /* Dark text color */
  }
  
  .project a {
    color: #007bff;
    text-decoration: none;
    padding-top: 0.5rem;
    transition: color 0.3s ease; /* Smooth color transition on hover */
    
  }
  
  .project a:hover {
    text-decoration: underline;
  }

  .project:hover {
    box-shadow: 0px 4px 6px #007bff;
  }
  
  .pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
