/* AboutMe.css */
.section-title {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 1rem;
    background-color: black;
    color: #FFFFFF;
  }
  
  .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    
  }
  
  .bio {
    font-size: 1.2rem;
    line-height: 1.5;
    letter-spacing: 0.02rem;
    margin-top: 1rem;
  }

  /* AboutMe */
  .bio-container {
    padding: 20px;
    background-color: black;
    color: #FFFFFF;
    
  }
  
  /* Portfolio.css */
  .project-list {
    color: #FFFFFF;
    
  }
  
  /* Contact.css */
  .contact {
    background-color: black;
    color: #FFFFFF;
    
  }

  .contact-container {
    background-color: black;
    color: #FFFFFF;
  }
  
  /* Resume.css */
  .resume-container {
    background-color: black;
    color: #FFFFFF;
    
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    background-color: black;
  }
  
  /* Style for individual project items */
  .project {
    background-color: black;
    border: 1px solid #ddd;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .project img {
    max-width: 100%;
    height: auto;
    padding-bottom: 1rem;
  }
  
  .project h3 {
    padding-top: 0;
    font-size: 1.5rem;
  }
  
  .project a {
    display: block;
    padding-top: 0.5rem;
    color: #00f7ff;
    text-decoration: none;
  }
  
  .project a:hover {
    text-decoration: underline;
  }
  
  .pdf-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
